* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* anchors */
a {
  text-decoration: none;
}

/* FONTS */
.josefins {
  font-family: "Josefin Sans", sans-serif;
}

.smooch {
  font-family: "Smooch", cursive;
}

/* Comment */
.comment {
  color: #808080;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

/* Colors */
.blue {
  color: #00b8f5;
}
/* Header */
header {
  display: flex;
  padding: 10px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.user {
  width: 50%;
}
.user a {
  display: flex;
  width: 300px;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  padding: 0 50px;
  text-decoration: none;
  color: #fff;
}
.user .logo {
  width: 50px;
  height: 50px;
}

.user .name {
  font-size: 18px;
  font-weight: 900;
  padding-left: 10px;
}

.navbar {
  width: 50%;
  display: flex;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  align-items: center;
}

.navbar ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
}

/* Hero Section */
.hero {
  display: flex;
  height: 100vh;
  text-align: center;
}

.hero .text {
  width: 38%;
  font-weight: bold;
  background: #1b242f;
  color: #fff;
}

.hero .text h1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding-top: 50%;
}

.hero .text h1 span {
  font-size: 24px;
}

.hero .text .quote {
  color: #808080;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

.hero .text .resume {
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}

.hero .text .resume span {
  font-size: 30px;
}

.hero .text .resume a {
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  background-color: #00b8f5;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.hero .text .resume i {
  font-size: 18px;
}

.hero .img {
  width: 62%;
  object-fit: cover;
  position: relative;
  background-image: url("../img/e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .img::before {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1b242f),
    to(transparent)
  );
  background: linear-gradient(90deg, #1b242f, transparent);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 85%;
}

.hero .img img {
  object-fit: cover;
  height: inherit;
}

.about {
  background-color: #0f242f;
  height: 100vh;
}

.about .heading {
  width: 100%;
  text-align: center;
}

.about .heading p {
  font-size: 48px;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;
}

.about .container {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.about .inform {
  padding-bottom: 30px;
}

.about .container .info,
.about .container .picture {
  width: 50%;
}

.about .container .info .social-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.about .container .info .social-wrapper a {
  margin: 0 10px;
}

.about .container .info .social-wrapper a i {
  font-size: 36px;
  color: #00b8f5;
}

.about .container .picture img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.about .container .info .introduction {
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
  padding: 0 80px;
}

.about .container .info .introduction .myself:nth-child(2) {
  padding-top: 40px;
}

.about .container .info .introduction span {
  font-size: 20px;
  font-weight: 700;
}

.about .container .info .introduction .myself {
  padding: 5px 0;
}

.about .container .info .introduction .myself .myInfo {
  font-weight: 900;
}
